!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    style
      /* To push content below navbar */
      @media (min-width: 980px) {
      body {
      margin-top: 41px;
      }
      }
      .sidebar-nav {
      padding: 9px 0;
      }
      @media (max-width: 980px) {
      /* Enable use of floated navbar text */
      .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
      }
      }
    //link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet')
    link(href='/styles.css', rel='stylesheet')
    link(href='/stylesheets/css3.css', rel='stylesheet')
    block head

  body
    .navbar.navbar-inverse.navbar-fixed-top
      a.navbar-brand(href='#') monimus
      .row
        .col-lg-6.search-input
          .input-group
            span.input-group-addon
              p Search by: 
            span.input-group-addon
              input(type="checkbox", checked="checked", doctype="courses")
              |  Courses
            span.input-group-addon
              input(type="checkbox", checked="checked", doctype="documents")
              |  Documents
            span.input-group-addon
              input(type="checkbox", checked="checked", doctype="schools")
              |  Schools
            span.input-group-addon
              input(type="checkbox", checked="checked", doctype="students")
              |  Students
            input#search.form-control(type="text")
            span.input-group-btn
              button.btn.btn-primary(type="button")
                span.glyphicon.glyphicon-search


    block content
    script(type="text/javascript", src="/javascripts/thirdparty/jquery/jquery-1.8.min.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js")
    script(type="text/javascript", src="/javascripts/thirdparty/bootstrap.min.js")
    block javascripts
