extends bs3-layout

block head 
  title monimus search demo

block content
  #main.container
    .row
      .col-lg-6
        .input-group.search-input
          input#search.form-control(type="text")
          span.input-group-btn
            button.btn.btn-primary(type="button")
              span.glyphicon.glyphicon-search

    .row.search-by
      .col-lg-6
        p.search-label Search by:&nbsp;&nbsp;
        .btn-toolbar
          button.btn.btn-primary.btn-sm(type="button")
            span.glyphicon.glyphicon-tower
            |  Schools
          button.btn.btn-primary.btn-sm(type="button")
            span.glyphicon.glyphicon-book
            |  Courses
          button.btn.btn-primary.btn-sm(type="button")
            span.glyphicon.glyphicon-user
            |  Students
          button.btn.btn-primary.btn-sm(type="button")
            span.glyphicon.glyphicon-file
            |  Documents
    .row.search-results
      .col-lg-3
        .panel.panel-default.courses_facets.hide
          .panel-heading
            | Courses
          .panel-body
            h5 Start Date
            ul.start_date
              li.facet-item.layout
                .checkbox
                  label
                    input(type="checkbox")
                    span.f_label Hola
                    span &nbsp;
                    span.count (10)
            h5 Price
            ul.price
              li.facet-item.layout
                .checkbox
                  label
                    input(type="checkbox")
                    span.f_label Hola
                    span &nbsp;
                    span.count (10)
            h5 Category
            ul.categories
              li.facet-item.layout
                .checkbox
                  label
                    input(type="checkbox")
                    span.f_label Hola
                    span &nbsp;
                    span.count (10)
            h5 School
            ul.school
              li.facet-item.layout
                .checkbox
                  label
                    input(type="checkbox")
                    span.f_label Hola
                    span &nbsp;
                    span.count (10)
      .col-lg-8.results
        .panel.panel-default.courses-results.hide
          .panel-heading
            span.badge.pull-right 10
            h4 Courses
          .list-group
            .list-group-item.layout
              h5 Result One
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        .panel.panel-default.documents-results.hide
          .panel-heading
            span.badge.pull-right 10
            h4 Documents
          .list-group
            .list-group-item.layout
              h5 Result One
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        .panel.panel-default.schools-results.hide
          .panel-heading
            span.badge.pull-right 10
            h4 Schools
          .list-group
            .list-group-item.layout
              h5 Result One
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
        .panel.panel-default.students-results.hide
          .panel-heading
            span.badge.pull-right 10
            h4 Students
          .list-group
            .list-group-item.layout
              h5 Result One
              p.list-group-item-text
                | Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.

block javascripts
  script(type="text/javascript", src="/javascripts/thirdparty/typeahead.min.js")
  script(type="text/javascript", src="/javascripts/app.js")