p
  margin: 0

ul
  padding: 0

li
  display: block

#main
  margin-top: 20px
  float: left
  padding: 20px

.search-label
  padding-top: 4px
  float: left

.search-by
  margin-top: 5px

.search-results
  margin-top: 10px
  .results
    .panel-heading
      h4
        margin: 0

.layout
  display: none

.list-group
  .filters
    font-size: 12px
    margin-top: 5px
  p.price, p.start_date
    float: left